# Frontend Environment Variables

# PostgreSQL Database URL 
# If using Docker Compose: user and password are set in the root .env file
# If running locally, copy and paste the URLs given from `npx prisma dev`
DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable&connection_limit=10&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&socket_timeout=0"
SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:51215/template1?sslmode=disable&connection_limit=10&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&socket_timeout=0"

# Secret key for BetterAuth (DO NOT USE THIS IN PRODUCTION, GENERATE A NEW ONE)
BETTER_AUTH_SECRET=gQhKH1VDXWvprDPaZB0u3yDGbPDhSCLh

# Base URL of app for BetterAuth
BETTER_AUTH_URL=http://localhost:3000
